* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Delius", cursive;
}

header {
    background-color: #F7F7F7;
    width: 100%;
    display: flex;
    position: fixed;
    padding: 47px 10%;
    z-index: 1;
}

.menu-header-button {
    display: none;
}

.ifood-logo {
    width: 80px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.nav-links {
    color: #3E3E3E;
    display: flex;
    gap: 40px;
    margin-left: 50px;
    cursor: pointer;
}

.nav-login {
    display: flex;
    align-items: center;
    gap: 35px;
}

.create-account-link {
    color: #EA1D2C;
    cursor: pointer;
}

.enter-link {
    background-color: #EA1D2C;
    color: #FFF;
    height: 44px;
    width: 104px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25em;
}

.coupon {
    background-color: #FFF;
    width: 333px;
    height: 133px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 15%;
    right: 10%;
    padding: 20px;
    z-index: 3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
    border: 1px solid #f7f7f7;
    border-radius: 4px;
    animation: win-coupon-transition 0.5s ease;
}

#coupon-icon {
    color: #EA1D2C;
    width: 60px;
    position: relative;
    bottom: 15px;
}

.coupon-content {
    margin-left: 25px;
}

.coupon-content-title,
.coupon-content-description,
.coupon-content-link {
    font-size: 14px;
}

.coupon-content-title {
    color: #3E3E3E;
}

.coupon-content-description {
    color: #717171;
    margin: 4px 0 13px;
}

.coupon-content-link {
    color: #EA1D2C;
    cursor: pointer;
}

#close-icon {
    color: #EA1D2C;
    font-size: 17px;
    position: relative;
    bottom: 40px;
    cursor: pointer;
}

@keyframes win-coupon-transition {
    from {
        transform: translateY(-100px);
        opacity: 0.1;
    }

    to {
        transform: translateY(0);
    }
}

.home {
    background-color: #F7F7F7;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 20px;
    padding: 157px 0;
}

.home-texts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-title {
    font-size: 36px;
}

.home-description {
    margin: 11px 0 42px;
}

.address {
    display: flex;
}

.address-input {
    display: flex;
    gap: 0;
}

.location-icon {
    width: 60px;
}

.location-icon img {
    width: 22px;
}

.location-icon,
input,
.search-button {
    background-color: #FFF;
    height: 48px;
    font-size: 16px;
    border: none;
}

input {
    width: 623px;
    padding-left: 5px;
}

input:focus {
    color: #BBB;
    border: 2px solid #EFEFEF;
    outline: 2px solid #CDCDCD;
    outline-offset: 0.1px;
}

input::placeholder {
    color: #BBB;
}

.search-button {
    background-color: #EA1D2C;
    color: #FFF;
    width: 138px;
    margin-left: 20px;
    border-radius: 4px;
    cursor: pointer;
}

.cards {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
}

.larger-cards,
.smaller-cards {
    display: flex;
    cursor: pointer;
}

.larger-cards {
    color: #FFF;
    font-size: 22px;
    gap: 35px;
}

.larger-card {
    height: 214px;
    width: clamp(100px, 42vw, 404px);
    position: relative;
    padding: 30px 20px;
    border-radius: 20px;
    transition: transform 0.2s ease;
}

.larger-card:hover {
    transform: scale(1.02);
}

.button-larger-card {
    color: #FFF;
    height: 36px;
    width: 146px;
    font-size: 16px;
    margin-top: 75px;
    border: none;
    border-radius: 12px;
}

.larger-card img {
    width: 225px;
    position: absolute;
    right: 0;
    bottom: 0;
}

#restaurant-card {
    background-color: #EA1D2C;
}

#market-card {
    background-color: #B6D048;
}

#button-restaurant-card {
    background-color: #CC1825;
}

#button-market-card {
    background-color: #9EB53E;
}

.smaller-cards {
    justify-content: space-between;
    position: relative;
    top: 20px;
    margin-top: 60px;
}

.smaller-card {
    height: 47px;
    width: 188px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    transition: transform 0.1s ease;
}

.smaller-card:hover {
    transform: scale(1.03);
}

.smaller-card img {
    position: absolute;
    bottom: 0;
}

.smaller-card-title {
    margin-top: 80px;
}

.smaller-card span {
    color: #EA1D2C;
}

#drink-card {
    background-color: #F6D553;
}

#pharmacy {
    background-color: #F9879C;
}

#pet-shop-card {
    background-color: #8C60C5;
}

.restaurant-section,
.market-section,
.food-lover-article,
.copyright {
    width: 84%;
    margin: 0 auto;
    padding: 60px 0;
    border-top: 2px solid #F2F2F2;
}

.restaurant-section-title,
.market-section-title {
    font-size: 24px;
}

.restaurant-cards,
.market-cards {
    display: flex;
    gap: 15px;
    position: relative;
    margin-top: 32px;
}

.restaurant-slide-buttons, .market-slide-buttons {
    display: none;
}

.restaurant-card,
.market-card {
    height: 132px;
    width: 250px;
    display: flex;
    align-items: center;
    position: relative;
    padding: 20px 16px;
    border: 1px solid #DCDCDC;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.6s ease;
}

.restaurant-card:hover,
.market-card:hover {
    border: 1px solid #AAAAAA;
}

.restaurant-card img,
.market-card img {
    height: 56px;
    width: 56px;
    border-radius: 50%;
}

.card-title,
.card-subtitle {
    margin-left: 10px;
}

.card-title {
    font-size: 14px;
    font-weight: 400;
}

.card-subtitle {
    color: #717171;
    font-size: 12px;
}

.verification {
    background-color: #FFF;
    border: none;
    cursor: pointer;
}

.verification img {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
}

.restaurant-banners {
    display: flex;
    gap: 17px;
    margin-top: 52px;
}

.restaurant-banner {
    cursor: pointer;
}

.register-article {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 100px 0;
}

.register-article-delivery,
.register-article-enterprise {
    position: relative;
}

.register-article-delivery {
    right: 80px;
}

.images {
    position: relative;
}

.delivery-man-image,
.store-image {
    width: 200px;
    position: absolute;
    bottom: 0;
    left: 12px;
}

.background-image {
    width: 400px;
}

.register-content {
    width: 220px;
    position: absolute;
    top: -60px;
    right: -60px;
}

.register-content-title,
.food-lover-content-title {
    font-size: 36px;
}

.register-content-description {
    color: #717171;
    margin: 25px 0 16px;
}

.register-content-button {
    background-color: #EA1D2C;
    color: #FFF;
    height: 48px;
    width: 138px;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.register-content-button:hover {
    opacity: 0.8;
}

.food-lover-article {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 80px 0;
}

.food-lover-content {
    width: 300px;
    position: relative;
    bottom: 50px;
}

.food-lover-content-title {
    width: 180px;
}

.food-lover-content-description {
    color: #717171;
    margin: 38px 0 20px;
}

.food-lover-content-button {
    background-color: #EA1D2C;
    color: #FFF;
    height: 44px;
    width: 120px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
}

.food-lover-article img {
    width: clamp(442px, 59vw, 732px);
}

.benefits {
    background-color: #69022D;
    height: 106px;
    width: 84%;
    display: flex;
    position: relative;
    margin: 0 auto;
    cursor: pointer;
}

.benefits-banner {
    background-color: #FDF8F1;
    height: 100%;
    width: 50%;
    display: flex;
    padding-left: 57px;
    border-radius: 0 0 100px 0;
}

.logo-benefits-card {
    width: 220px;
}

.benefits-content-description {
    display: none;
}

.benefits-card {
    width: 190px;
    position: absolute;
    bottom: 0;
    left: 38%;
}

.benefits-content {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.benefits-content-description {
    color: #FDF8F1;
    font-size: 16px;
}

.benefits-card-illustration {
    display: none;
}

.gap-of-footer {
    background-color: #F2F2F2;
    height: 64px;
    width: 100%;
    margin-top: 32px;
}

footer {
    padding-top: 70px;
}

.footer-section-about {
    width: 81%;
    display: flex;
    gap: 50px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.footer-section-about h2,
.footer-section-about a {
    color: #3E3E3E;
    font-size: 16px;
}

.footer-section-about a {
    color: #717171;
    cursor: pointer;
}

.footer-column {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer-column a:hover,
.copyright-links a:hover,
i:hover {
    color: #333333
}

#footer-column-ifood {
    margin-right: 11%;
}

#footer-column-social h2 {
    margin-bottom: 30px;
}

i {
    font-size: 30px;
    margin-right: 20px;
}

.copyright {
    width: 82%;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 40px 0;
    border-top: 1px solid #E2E2E2;
}

.copyright-image-text {
    width: 44vw;
    display: flex;
    gap: 18px;
}

.ifood-smile-image {
    height: 50px;
}

.copyright-text {
    color: #717171;
    font-size: 13px;
}

.copyright-links {
    width: 690px;
    display: flex;
    gap: 12px;
    padding-bottom: 30px;
}

.copyright-links a {
    color: #555555;
    font-size: 16px;
    cursor: pointer;
}

@media screen and (max-width: 1286px) {

    header {
        padding: 47px 32px;
    }

    .coupon {
        top: 16%;
        right: 3%;
    }

    .restaurant-section,
    .market-section,
    .food-lover-article,
    .benefits,
    .footer-section-about {
        width: 100%;
    }

    .footer-section-about {
        margin-bottom: 40px;
        padding: 0 20px;
    }

    .copyright {
        width: 97%;
    }
}

@media screen and (max-width: 1236px) {

    .nav-links {
        gap: 20px;
        margin-left: 38px;
    }

    .cards {
        bottom: -15px;
    }

    .restaurant-section,
    .market-section,
    .food-lover-article {
        width: 95%;
    }

    .restaurant-window {
        position: relative;
        overflow: hidden;
        z-index: 2;
    }

    .restaurant-slide-buttons {
        width: 100%;
        display: flex;
        position: absolute;
        top: 54%;
    }

    .slide-button {
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        transition: all 0.2s ease;
        z-index: 1;
    }

    .restaurant-left, .market-left {
        padding-left: 9px;
    }

    .restaurant-right, .market-right {
        position: absolute;
        right: 0;
    }

    .slide-button:disabled {
        background-color: rgba(0, 0, 0, 0.2);
    }

    .slide-button:not(:disabled) {
        background-color: rgba(0, 0, 0, 0.5);
    }

    .slide-button:not(:disabled):hover {
        background-color: #232323;
    }

    .restaurant-cards {
        cursor: grab;
    }

    .restaurant-card {
        flex-shrink: 0;
    }

    .food-lover-article {
        padding: 80px 70px;
    }

    .register-article {
        padding: 130px 70px 110px 0;
    }

    .delivery-man-image,
    .store-image {
        width: 193px
    }

    .background-image {
        width: 320px;
    }

    .register-content {
        top: -45%;
        left: 65%;
    }

    .footer-section-about {
        gap: 10vw;
    }
}

@media screen and (max-width: 1050px) {

    .restaurant-section,
    .market-section,
    .food-lover-article {
        width: 91%;
    }

    .register-article {
        gap: 20px;
    }

    .food-lover-content-title {
        font-size: 24px;
    }

    .copyright-image-text {
        width: 37vw;
    }
}

@media screen and (max-width: 960px) {

    header {
        justify-content: space-between;
        padding: 30px 32px 38px 40px;
    }

    .menu-header {
        display: flex;
        gap: 30px;
    }

    .menu-header-button {
        background-color: #F7F7F7;
        height: 30px;
        display: flex;
        border: none;
    }

    nav {
        flex: 0;
    }

    .nav-links {
        display: none;
    }

    .nav-login {
        width: 230px;
        gap: 45px;
    }

    main {
        padding-bottom: 22em;
    }

    input {
        width: 64vw;
    }

    .home {
        top: -15px;
        padding: 140px 0;
    }

    .cards {
        bottom: 82px;
    }

    .larger-card {
        height: 180px;


        h2 {
            font-size: 24px;
        }

        button {
            width: 118px;
            margin-top: 58px;
        }

        img {
            width: clamp(163px, 23.5vw, 225px);
            right: 7px;
        }
    }

    .smaller-cards {
        top: 3px;
    }

    .smaller-card {
        height: 38px;
        width: 150px;

        img {
            width: 120px;
        }
    }

    #pharmacy img {
        width: 85px;
    }

    .restaurant-section,
    .market-section {
        padding: 20px 0 40px;
    }

    .restaurant-cards {
        gap: 12px;
    }

    .restaurant-card,
    .market-card {
        height: 87px;
        min-width: 200px;

        img {
            height: 46px;
            width: 46px;
        }

        .verification img {
            height: 20px;
            width: 20px;
        }
    }

    .restaurant-card {
        width: 200px;
    }

    .register-article {
        flex-direction: column;
        padding: 0 70px 60px 0;
    }

    .register-article-delivery,
    .register-article-enterprise {
        display: flex;
        justify-content: center;
        right: 7em;
    }

    .delivery-man-image,
    .store-image {
        width: 235px;
        left: 0;
    }

    .delivery-man-image {
        height: 200px;
    }

    .store-image {
        height: 168px;
    }

    .background-image {
        width: 460px;
    }

    .register-article-delivery,
    .register-article-enterprise {
        right: 3em;
    }

    .register-content {
        top: 50px;
    }

    .register-content-title {
        width: 300px;
        font-size: 24px;
    }

    .food-lover-article {
        gap: 50px;
        padding: 130px 70px 30px;
    }

    .food-lover-article img {
        position: relative;
        bottom: 50px;
    }

    .benefits {
        height: 414px;
    }

    .benefits-banner {
        background-color: #69022D;
        flex-direction: column;
        justify-content: center;

        .logo-benefits-card {
            width: 165px;
            filter: brightness(0) invert(1);
        }

        .benefits-content-description {
            width: 378px;
            display: flex;
            font-size: 40px;
            position: relative;
            top: 30px;
        }
    }

    .benefits-content-description,
    .benefits-card {
        display: none;
    }

    .benefits-card-illustration {
        display: flex;
    }

    footer {
        padding-bottom: 50px;
    }

    .footer-section-about {
        flex-wrap: wrap;
        gap: 5vw;
    }

    .footer-column {
        gap: 22px;
    }

    #footer-column-ifood {
        margin-right: 30%;
    }

    .copyright {
        flex-direction: column;
        gap: 40px;
    }

    .copyright-image-text,
    .copyright-links {
        width: 100%;
    }

    .copyright-texts {
        display: flex;
        flex-direction: column;
        gap: 7px;

        p {
            font-size: 11px;
        }
    }

    .copyright-links {
        justify-content: space-between;
        padding: 0 10px;
    }
}

@media screen and (max-width: 768px) {

    header {
        padding: 20px 15px 38px 25px;
    }

    .menu-header {
        gap: 17px;
    }

    .nav-login {
        width: 88px;
        justify-content: end;
    }

    .create-account-link {
        display: none;
    }

    .enter-link {
        height: 34px;
        width: 88px;
    }

    main {
        position: relative;
        padding-bottom: 13em;
    }

    .coupon {
        width: clamp(300px, 93vw, 712px);
        display: flex;
        justify-content: space-between;
        top: 11%;
        right: 2%;
    }

    .coupon-content {
        flex: 1;
        margin-left: 20px;
    }

    .home {
        top: -42px;
    }

    .home-texts {
        gap: 3px;
    }

    .home-title {
        font-size: 18px;
    }

    .home-description {
        color: #717171;
        width: 200px;
        text-align: center;
        font-size: 14px;
        margin-bottom: 14px;
    }

    .address {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .address-input {
        display: flex;
    }

    .location-icon {
        width: 35px;

        img {
            width: 18px;
        }
    }

    input {
        width: 100% ;
    }

    .search-button, .address-input {
        width: clamp(200px, 88vw, 676px);
        margin-left: 0;
    }

    .cards {
        bottom: 92px;
    }

    .larger-cards {
        gap: 28px;
    }

    .larger-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 30px;
    }

    .larger-card h2 {
        font-size: 20px;
        margin-bottom: 5px;
    }

    .larger-card img {
        width: 105px;
        position: relative;
    }

    #button-restaurant-card,
    #button-market-card {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 14px;
        margin-top: 0;

        span {
            position: relative;
        }
    }

    #market-card h2 {
        margin-bottom: 0;
    }

    .smaller-cards {
        justify-content: space-around;
        top: -25px;
    }

    .smaller-card {
        height: 24px;
        width: 96px;
    }

    .smaller-card  img {
        width: 75px;
    }

    #pharmacy img {
        width: 55px;
    }

    .smaller-card-title {
        font-size: 14px;
        margin-top: 62px;
    }

    .restaurant-section, .market-section, .food-lover-article {
        width: 96%;
        padding: 20px 0 25px 8px;
    }

    .restaurant-section-title, .market-section-title {
        font-size: 20px;
    }

    .slide-button {
        height: 25px;
        width: 25px;
    }

    .restaurant-cards, .market-cards {
        margin-top: 20px;
    }

    .restaurant-banners {
        gap: 12px;
        margin-top: 35px;
    }

    .restaurant-banner img {
        height: 140px;
        width: 277px;
    }

    .background-image {
        width: 320px;
    }

    .delivery-man-image, .store-image {
        width: 147px;
    }

    .register-article {
        align-items: center;
        padding: 0 0 40px 0;
    }

    .register-article-delivery, .register-article-enterprise {
        right: 0;
    }

    .register-content {
        width: 210px;
        top: 20px;
        left: 10em;
    }

    .register-content-title {
        width: 140px;
        font-size: 20px;
    }

    .register-content-description {
        font-size: 14px;
    }

    .register-content-button {
        height: 34px;
        width: 114px;
        font-size: 14px;
    }

    .food-lover-article {
        flex-direction: column;
        position: relative;
        padding: 18px 0 40px;
    }

    .food-lover-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        bottom: 0;
    }

    .food-lover-content-title {
        width: 250px;
        font-size: 20px;
    }

    .food-lover-content-description {
        margin: 265px 0 10px;
    }

    .food-lover-content-button {
        height: 34px;
        width: 102px;
        font-size: 14px;
    }

    .food-lover-article img {
        position: absolute;
        top: 65px;
    }

    footer {
        padding-bottom: 40px;
    }

    .copyright {
        width: 95%;
        gap: 30px;
    }

    .copyright-links {
        flex-direction: column;
        gap: 20px;
        padding: 0;
    }
}

@media screen and (max-width: 660px) {
    .market-slide-buttons {
        display: flex;
        position: relative;
        top: 72px;
        z-index: 1;
    }
}

@media screen and (max-width: 420px) {
    .larger-cards {
        gap: 12px;
    }

    .larger-card {
        padding: 20px 15px;
    }

    .restaurant-section-title, .market-section-title {
        font-size: 18px;
    }

    .register-article-delivery, .register-article-enterprise {
        right: 7px;
    }

    .benefits {
        height: 710px;
        flex-direction: column;
    }

    .benefits-banner, .benefits-content {
        width: 100%;
        padding-left: 10px;
    }

    .benefits-card-illustration {
        width: 402px;
    }

    .footer-section-about {
        gap: 45px;
    }

    .copyright {
        padding-left: 7px;
    }
}